{%load static%}
{% load hitcount_tags %}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ELAB - Social Network</title>

<!-- Fonts Online -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<!-- Style Sheet -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/main-style.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="css/modal.css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<div id="main-wrapper">

  <!-- Top Toolbar -->
  <div class="toolbar">
    <div class="uou-block-1a blog">
      <div class="container">
        <div class="search"> <a href="#" class="toggle fa fa-search"></a>
          <form action="#">
            <input type="text" class="search-input" placeholder="Search ...">
            <input type="submit" value="">
          </form>
        </div>
        <ul class="social">
          <li><a href="https://www.facebook.com/elabasia_digital_academy-105324734595469/" class="fa fa-facebook"></a></li>
          <li><a href="https://www.instagram.com/elab.asia_digital_academy/?hl=ru" class="fa fa-instagram"></a></li>
          <li><a href="https://www.youtube.com/channel/UCjwLOs7tgaZ1ArqTv10r8Zw" class="fa fa-youtube"></a></li>
        </ul>
         <div class="language"> <a href="#" class="toggle"><img src="images/flags/48/RU.png" alt=""> Личный Кабинет</a>
           <ul>
             {% if request.user.is_authenticated %}
             {% url 'signout' as url_signout %}
             <li><a href="{{url_signout}}"> Выйти</a></li>
             {%else%}
             {% url 'signin' as url_signin %}
             <li{% if url_signin == request.path %}active{% endif %}><a href="{{ url_signin }}"> Авторизация</a></li>
             {% url 'signup' as url_signup %}
             <li{% if url_signup == request.path %}active{% endif %}><a href="{{ url_signup }}"> Регистрация</a></li>
             {%endif%}
           </ul>

         </div>


        <div class="language"> <a href="#" class="toggle"><img src="images/flags/48/RU.png" alt=""> RUS</a>
          <ul>
            <li><a href="#"><img src="images/flags/32/US.png" alt=""> ENG</a></li>
            <li><a href="#"><img src="images/flags/32/KZ.png" alt=""> KZ</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end .uou-block-1a -->
  </div>
  <!-- end toolbar -->
  <div class="box-shadow-for-ui">
    <div class="uou-block-2b">
      <div class="container"> <a href="{% url "index"%}" class="logo"><img src="{% static 'images/logo.png' %}" alt=""></a> <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>
        <nav class="nav">
          <ul class="sf-menu">
            <li><a href="index.html"><i class="fa  fa-home"></i></a></li>
            {% if request.user.is_authenticated %}
            {% url 'profile' as url_profile %}
            <li> <a href="{% url "profile"%}">Профиль</a></li>
            {%else%}
            {%endif%}
            <li class="active"><a href="{% url "home"%}">Блог</a></li>
            <li><a href="{% url "projects"%}">Конференции и мероприятия</a></li>
            <li><a href="{% url "contact"%}">Контакты</a></li>
            {% if request.user.is_authenticated %}
            {% url 'edit_page' as url_edit_page %}
            <li><a href="{% url "edit_page"%}">Добавить свою статью</a></li>
            {%else%}
            {%endif%}
          </ul>
        </nav>
        <div class="hamburger-menu">
  <input id="menu__toggle" type="checkbox" />
  <label class="menu__btn" for="menu__toggle" style="z-index: 11;">
    <span></span>
  </label>
  <ul class="menu__box" style="z-Index: 10">
    <li><a class="menu__item" href="{% url "index"%}">Главная</a></li>
    {% if request.user.is_authenticated %}
    {% url 'profile' as url_profile %}
    <li><a class="menu__item" href="{% url "profile"%}">Профиль</a></li>
    {%else%}
    {%endif%}
    <li><a class="menu__item" href="{% url "home"%}">Блог</a></li>
    <li><a class="menu__item" href="{% url "projects"%}">Конференции и мероприятия</a></li>
    {% if request.user.is_authenticated %}
    {% url 'edit_page' as url_edit_page %}
        <li><a class="menu__item" href="{% url "edit_page"%}">Добавить свою статью</a></li>
        {%else%}
        {%endif%}
            <li><a class="menu__item" href="{% url "contact"%}">Контакты</a></li>
            {% if request.user.is_authenticated %}
            {% url 'signout' as url_signout %}
            <li><a class="menu__item" href="{{url_signout}}">Выйти</a></li>
            {%else%}
            {% url 'signin' as url_signin %}
            <li><a class="menu__item" href="{{ url_signin }}">Авторизация</a></li>
              {% url 'signup' as url_signup %}
            <li><a class="menu__item" href="{{ url_signup }}">Регистрация</a></li>
              {%endif%}



  </ul>
      </div>
    </div>
    <!-- end .uou-block-2b -->
  </div>

  <!-- end .uou-block-2b -->

  <div class="compny-profile">
    <!-- SUB Banner -->
    <div class="profile-bnr user-profile-bnr">
      <div class="container">
        <div class="pull-left">

          <h2>{{ request.user.first_name }} {{ request.user.last_name }} </h2>

          <h5></h5>

        </div>

        <!-- Top Riht Button -->

      </div>

      <!-- Modal POPUP -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="container">
              <h6><a class="close" href="#." data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a> Send Message</h6>

              <!-- Forms -->
              <form action="#">
                <ul class="row">
                  <li class="col-xs-6">
                    <input type="text" placeholder="First Name ">
                  </li>
                  <li class="col-xs-6">
                    <input type="text" placeholder="Last Name">
                  </li>
                  <li class="col-xs-6">
                    <input type="text" placeholder="Country">
                  </li>
                  <li class="col-xs-6">
                    <input type="text" placeholder="Email">
                  </li>
                  <li class="col-xs-12">
                    <textarea placeholder="Your Message"></textarea>
                  </li>
                  <li class="col-xs-12">
                    <button class="btn btn-primary">Send message</button>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Profile Company Content -->
    <div class="profile-company-content user-profile main-user" data-bg-color="f5f5f5">
      <div class="container">
        <div class="row">

          <!-- Nav Tabs -->
          <div class="col-md-12">
            <ul class="nav nav-tabs">
              <li><a href="{% url "profile"%}">Профиль</a></li>
              <li class="active"><a href="user-profile(layout-2).html">Ваши статьи</a></li>
            </ul>
          </div>
          <div class="profile-main">
                  <h3>Ваши статьи</h3>

                  <div class="profile-in">
                    <div class="row">
                      <div class="col-md-12">
                        {% for i in post %}

                        <article class="uou-block-7f">
                          <img src="{{i.image.url}}" alt="" class="thumb">


                          <div class="meta"> <span class="time-ago">{{ i.create_date }}</span> <span class="category">Автор: <a href="#">{{ i.user_name }} {{ i.user_firstname }}</a></span> <a href="#" class="comments">{% get_hit_count for i %} Comments</a>
                            {% if request.user == i.author %}
                       <form id="delete_form{{ i.id }}" action="{% url 'delete_page' i.id %}" method="post">{% csrf_token %}</form>
                               <a href="javascript:void()" class="btn btn-small btn-primary" style="float: right;
                              margin: 5px; color: white;" onclick="delete_question{{ i.id }}()">удалить</a>
                           <script>
                               function delete_question{{ i.id }}(){
                                   if (confirm("Вы уверены")){
                                       document.getElementById('delete_form{{ i.id }}').submit()
                                   }
                               }
                           </script>
                           {% else %}
                                             Доступ закрыт
                                         {% endif %}</div>
                          <h1><a href="#">{{i.name}}</a></h1>
                          <p>{{i.text|truncatechars:"80"}}</p>
                          {% if request.user.is_authenticated%}
                          <a href="/detail/{{ i.id }}" class="btn btn-small btn-primary">Подробнее</a>
            {%else%}
            <a href="{%url 'signup'%}" class="btn btn-small btn-primary">Подробнее</a>
            {%endif%}
            <td>

                        <!-- end .uou-block-7f -->


                        <!-- end .uou-block-7f -->
                      </article>
                                          {% endfor %}
                      </div>
                    </div>

                  </div>
                </div>

<div class="uou-block-4a secondary dark">
  <div class="container">

    <p>Copyright &copy; 2020 <a href="https://elab.asia/index.php?lang=ru">elab.asia</a>. All Rights reserved.</p>
  </div>
</div>
<!-- end .uou-block-4a -->



<!-- Scripts -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/plugins/superfish.min.js' %}"></script>
<script src="{% static 'js/jquery.ui.min.js' %}"></script>
<script src="{% static 'js/plugins/rangeslider.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/uou-accordions.js' %}"></script>
<script src="{% static 'js/uou-tabs.js' %}"></script>
<script src="{% static 'js/plugins/select2.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/gmap3.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

<script >
  var elements = $('.modal-overlay, .modal');

$('button').click(function(){
    elements.addClass('active');
});

$('.close-modal').click(function(){
    elements.removeClass('active');
});
</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
</body>
</html>
