{%load static%}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ELAB - Social Network</title>

<!-- Fonts Online -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<!-- Style Sheet -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/main-style.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="css/modal.css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<style type="text/css">
	.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}
body{
      background: rgba(0,0,0,0.8);
}
.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 5% auto;
    padding: 0px 0px 20px 0px;
    border-radius: 10px;
    background: #fff;

}
.close {

    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.BB3{
  font-size: 18px;
    font-weight: normal;
    margin-top: 0px;
    border-bottom: 1px solid #f1f1f1;
    padding: 1px;
    padding-bottom: 11px;
    margin-bottom: 16px;
}
.BB4{
  width: 200px;
}

.BB5{background-color: #0099ff;
    border: 2px solid #0099ff;
    font-size: 14px;
    padding: 3px 12px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: inherit;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 0;
    white-space: nowrap;
    color: #ffffff;
    padding: 8px 21.312px;
    transition: all 0.3s;
    border-radius: 28px;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    float: right;
    margin-right: 10px;}
.close:hover { background: #00d9ff; }


</style>
</head>

<body>
<div id="main-wrapper">

  <!-- Top Toolbar -->
  <div class="toolbar">
    <div class="uou-block-1a blog">
      <div class="container">
        <div class="search"> <a href="#" class="toggle fa fa-search"></a>
          <form action="#">
            <input type="text" class="search-input" placeholder="Search ...">
            <input type="submit" value="">
          </form>
        </div>
        <ul class="social">
          <li><a href="https://www.facebook.com/elabasia_digital_academy-105324734595469/" class="fa fa-facebook"></a></li>
          <li><a href="https://www.instagram.com/elab.asia_digital_academy/?hl=ru" class="fa fa-instagram"></a></li>
          <li><a href="https://www.youtube.com/channel/UCjwLOs7tgaZ1ArqTv10r8Zw" class="fa fa-youtube"></a></li>
        </ul>
         <div class="language"> <a href="#" class="toggle"><img src="images/flags/48/RU.png" alt=""> Личный Кабинет</a>
					 <ul>
						 {% if request.user.is_authenticated %}
						 {% url 'signout' as url_signout %}
						 <li><a href="{{url_signout}}"> Выйти</a></li>
						 {%else%}
						 {% url 'signin' as url_signin %}
						 <li{% if url_signin == request.path %}active{% endif %}><a href="{{ url_signin }}"> Авторизация</a></li>
						 {% url 'signup' as url_signup %}
						 <li{% if url_signup == request.path %}active{% endif %}><a href="{{ url_signup }}"> Регистрация</a></li>
						 {%endif%}
					 </ul>

				 </div>


        <div class="language"> <a href="#" class="toggle"><img src="images/flags/48/RU.png" alt=""> RUS</a>
          <ul>
            <li><a href="#"><img src="images/flags/32/US.png" alt=""> ENG</a></li>
            <li><a href="#"><img src="images/flags/32/KZ.png" alt=""> KZ</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end .uou-block-1a -->
  </div>
  <!-- end toolbar -->

	<div class="box-shadow-for-ui">
		<div class="uou-block-2b">
			<div class="container"> <a href="index.html" class="logo"><img src="{% static 'images/logo.png' %}" alt=""></a>
				<nav class="nav">
					<ul class="sf-menu">
						<li><a href="{% url "index"%}"><i class="fa  fa-home"></i></a></li>
						{% if request.user.is_authenticated %}
						{% url 'profile' as url_profile %}
						<li> <a href="{% url "profile"%}">Профиль</a></li>
						{%else%}
						{%endif%}
						<li class="active"><a href="{% url "home"%}">Услуги</a></li>
	
					</ul>
				</nav>
				<div class="hamburger-menu">
  <input id="menu__toggle" type="checkbox" />
  <label class="menu__btn" for="menu__toggle" style="z-index: 11;">
    <span></span>
  </label>
	<ul class="menu__box" style="z-Index: 10">
		<li><a class="menu__item" href="{% url "index"%}">Главная</a></li>
		{% if request.user.is_authenticated %}
		{% url 'profile' as url_profile %}
		<li><a class="menu__item" href="{% url "profile"%}">Профиль</a></li>
		{%else%}
		{%endif%}
		<li><a class="menu__item" href="{% url "home"%}">Блог</a></li>
		<li><a class="menu__item" href="{% url "projects"%}">Конференции и мероприятия</a></li>
		{% if request.user.is_authenticated %}
		{% url 'edit_page' as url_edit_page %}
				<li><a class="menu__item" href="{% url "edit_page"%}">Добавить свою статью</a></li>
				{%else%}
				{%endif%}
						<li><a class="menu__item" href="{% url "contact"%}">Контакты</a></li>
						{% if request.user.is_authenticated %}
						{% url 'signout' as url_signout %}
						<li><a class="menu__item" href="{{url_signout}}">Выйти</a></li>
						{%else%}
						{% url 'signin' as url_signin %}
						<li><a class="menu__item" href="{{ url_signin }}">Авторизация</a></li>
							{% url 'signup' as url_signup %}
						<li><a class="menu__item" href="{{ url_signup }}">Регистрация</a></li>
							{%endif%}



	</ul>
</div>
			</div>
		</div>

	</div>



  <div class="compny-profile">
    <!-- SUB Banner -->
    <div class="profile-bnr user-profile-bnr">
      <div class="container">
        <div class="pull-left">
        <h2>{{ request.user.first_name }} {{ request.user.last_name }} </h2>
        </div>



      </div>

      <!-- Modal POPUP -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="container">
              <h6><a class="close" href="#." data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a> Send Message</h6>

              <!-- Forms -->
              <form action="#">
                <ul class="row">
                  <li class="col-xs-6">
                    <input type="text" placeholder="First Name ">
                  </li>
                  <li class="col-xs-6">
                    <input type="text" placeholder="Last Name">
                  </li>
                  <li class="col-xs-6">
                    <input type="text" placeholder="Country">
                  </li>
                  <li class="col-xs-6">
                    <input type="text" placeholder="Email">
                  </li>
                  <li class="col-xs-12">
                    <textarea placeholder="Your Message"></textarea>
                  </li>
                  <li class="col-xs-12">
                    <button class="btn btn-primary">Send message</button>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Profile Company Content -->
    <div class="profile-company-content user-profile main-user" data-bg-color="f5f5f5">
      <div class="container">
        <div class="row">

          <!-- Nav Tabs -->


          <!-- Tab Content -->
          <div class="col-md-12">
            <div class="tab-content">

              <!-- PROFILE -->
              <div id="profile" class="tab-pane fade in active">
                <div class="row">
                  <div class="col-md-12">
                    <div class="profile-main">
                    <div class="profile-top">
                      <h3 style="display: inline-block; border: none;">Профиль</h3>
                     <a href="{%url "password_change"%}" class="BB5">Изменить пароль</a>
                    </div>
                      <div class="profile-in">
                        <div class="media-left">
													{% if request.user.profile.photo.url == request.user.profile.photo.url %}
                          <div class="img-profile"> <img class="media-object" src="{{ request.user.profile.photo.url }}" alt=""> </div>
													{%else%}
													{%endif%}
                        </div>
                        <div class="media-body">
                          <p>Имя:{{ request.user.first_name }}</p>
                          <p>Фамилия:{{ request.user.last_name }}</p>
                          <p>E-mail: {{ request.user.email }}</p>

                          <p>Дата рождения: {{ request.user.profile.date_of_birth }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                  </div>

                  <!-- Col -->

                  <div class="col-md-4">


                    <div class="sidebar">


                      <h5 class="main-title">Информация</h5>


                      <div class="sidebar-information">
                        <ul class="single-category">
                          <form action="." method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                          <li class="row">


                            <h6 class="title col-xs-6">Имя</h6>
                            <span class="subtitle col-xs-6">{{ request.user.first_name }}</span></li>
                            <input class="profile-edit" type="text"  value="{{ request.user.first_name }}" name = 'first_name'>
                          <li class="row">
                          <li class="row">
                            <h6 class="title col-xs-6">Фамилия</h6>
                            <span class="subtitle col-xs-6">{{ request.user.last_name }}</span></li>
                            <input class="profile-edit" type="text" value="{{ request.user.last_name }}" name = 'last_name'>
                          <li class="row">
                          <li class="row">
                            <h6 class="title col-xs-6">E-mail</h6>
                            <span class="subtitle col-xs-6"><a href="#.">{{ request.user.email }}</a></span></li>
                            <input class="profile-edit" type="text" value="{{ request.user.email }}" name = 'email'>
                          <li class="row">
                            <h6 class="title col-xs-6">Дата рождения</h6>
                            <span class="subtitle col-xs-6">{{ request.user.profile.date_of_birth }}</span></li>
                            <input class="profile-edit" type="date" value="{{ request.user.profile.date_of_birth }}" name = 'date_of_birth'>

                          <li class="row">
                            <h6 class="title col-xs-6">Загрузить фото</h6></li>
                            {% if request.user.profile.photo.url != '' %}
                                        <img  style="width: 200px; height: 200px;" src="{{ request.user.profile.photo.url }}">
                                        {% else %}
                                        {% endif %}

                                    </div>
                                    <input type="file" name="photo" accept="image/*" id="id_photo">

																		<button type=submit class="login100-form-btn" style="    width: 50%;
																		background-color: #0099ff;
																		color: white;
																		height: 35px;
																		float: right;
																		border: none;
																		border-radius: 5px;
																		margin-top: 10%;
																		">Сохранить</button>
                                </div>
                        </ul>
                      </div>
											<div style="width:100%; padding:60px;">


                      </form>
                    </div>
                    </div>

                    <!-- Rating -->



<!-- Scripts -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/plugins/superfish.min.js' %}"></script>
<script src="{% static 'js/jquery.ui.min.js' %}"></script>
<script src="{% static 'js/plugins/rangeslider.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.flexslider-min.js' %}"></script>
<script src="{% static 'js/uou-accordions.js' %}"></script>
<script src="{% static 'js/uou-tabs.js' %}"></script>
<script src="{% static 'js/plugins/select2.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/gmap3.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>

<script >
  var elements = $('.modal-overlay, .modal');

$('button').click(function(){
    elements.addClass('active');
});

$('.close-modal').click(function(){
    elements.removeClass('active');
});
</script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
</body>
</html>
